@(user: models.User, games: List[Game])(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)

@main(Messages("home.title"), Some(user), games) {
    <div class="user col-md-6 col-md-offset-3">
        <div class="row">
            <hr class="col-md-12" />
            <h4 class="col-md-8">@Messages("welcome.signed.in")</h4>
            <div class="col-md-4 text-right">
                <img src="@user.avatarURL.getOrElse(routes.Assets.at("images/silhouette.png"))" height="40px" />
            </div>
            <hr class="col-md-12" />
        </div>
        <div class="row data">
            <div class="col-md-12">
            @for(game <- games) {
                <div class="row">
                    <p class="col-md-2"><strong>Game:</strong></p><p class="col-md-2">@game.name</p>
                    <p class="col-md-2"><strong>Votes</strong></p><p class="col-md-2">@game.voters.size</p>
                    @if(!games.foldLeft(List[String]())((o,p) => p.voters ::: o).contains(user.firstName.get)){
                    <p class="col-md-4"><a href="/game/vote?game=@game.name&user=@user.firstName.get">Vote</a></p>
                    } else {
                    <p class="col-md-4">Already voted!</p>
                    }
                </div>
                }
            </div>
        </div>
    </div>
}
